In [3]:
import pandas as pd
import os
file_path = r'PassengerVehicle_Stats'
file_list = [os.path.join(file_path, file) for file in os.listdir(file_path) if file.endswith('.csv')]

In [4]:
dataframes = [pd.read_csv(file) for file in file_list]
vehicles_df = pd.concat(dataframes, ignore_index=True)
vehicles_df

,Unnamed: 0,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,Address,City,State,ZIP Code,Taxi Affiliation,Taxi Medallion License Management,Record ID
0,1286,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,4567 S. OAKENWALD AVE.,CHICAGO,IL,60653.0,NaN,NaN,12009Charter Sightseeing
1,2095,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,4610 N. CLARK ST.,CHICAGO,IL,60640.0,NaN,NaN,12248Charter Sightseeing
2,7950,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",4400 S. RACINE AVE.,CHICAGO,IL,60609.0,NaN,NaN,13527Charter Sightseeing
3,8700,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,4610 N. CLARK ST.,CHICAGO,IL,60640.0,NaN,NaN,12248Charter Sightseeing
4,9359,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",4400 S. RACINE AVE.,CHICAGO,IL,60609.0,NaN,NaN,13528Charter Sightseeing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16598,16143,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,1627 N. TRIPP AVE.,CHICAGO,IL,60639.0,NaN,NaN,42Pedicab
16599,16151,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,4450 N. KEDZIE AVE.,CHICAGO,IL,60625.0,NaN,NaN,52Pedicab
16600,16216,70.0,VIOLATION,MAINSTREET,CLASSIC,0.0,RED/BLACK,Pedal,N,EMPIRE PEDICAB LLC,318 W. ADAMS ST.,CHICAGO,IL,60606.0,NaN,NaN,70Pedicab
16601,16229,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,2428 W. 24TH PL.,CHICAGO,IL,60608.0,NaN,NaN,57Pedicab
16602,16281,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,4450 N. KEDZIE AVE.,CHICAGO,IL,60625.0,NaN,NaN,117Pedicab

In [5]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16603 entries, 0 to 16602
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          16603 non-null  object
 1   Public Vehicle Number               16602 non-null  float64
 2   Status                              16602 non-null  object
 3   Vehicle Make                        14685 non-null  object
 4   Vehicle Model                       14639 non-null  object
 5   Vehicle Model Year                  14660 non-null  float64
 6   Vehicle Color                       14616 non-null  object
 7   Vehicle Fuel Source                 16602 non-null  object
 8   Wheelchair Accessible               16602 non-null  object
 9   Company Name                        16602 non-null  object
 10  Address                             14816 non-null  object
 11  City                                14816 non-null  object
 12  State                               14816 non-null  object
 13  ZIP Code                            14816 non-null  float64
 14  Taxi Affiliation                    7348 non-null   object
 15  Taxi Medallion License Management   7321 non-null   object
 16  Record ID                           16602 non-null  object
dtypes: float64(3), object(14)
memory usage: 2.2+ MB

In [6]:

vehicles_df.describe()

       Public Vehicle Number  Vehicle Model Year      ZIP Code
count           1.660200e+04        14660.000000  14816.000000
mean            3.854566e+04         2012.669714  60612.519573
std             1.372946e+05           83.622806    104.290880
min             0.000000e+00            0.000000  60004.000000
25%             3.633250e+03         2013.000000  60619.000000
50%             6.991500e+03         2016.000000  60631.000000
75%             1.683925e+04         2021.000000  60646.000000
max             6.902206e+06         2025.000000  61111.000000

In [7]:
vehicles_df.dtypes

Unnamed: 0                             object
Public Vehicle Number                 float64
Status                                 object
Vehicle Make                           object
Vehicle Model                          object
Vehicle Model Year                    float64
Vehicle Color                          object
Vehicle Fuel Source                    object
Wheelchair Accessible                  object
Company Name                           object
Address                                object
City                                   object
State                                  object
ZIP Code                              float64
Taxi Affiliation                       object
Taxi Medallion License Management      object
Record ID                              object
dtype: object

In [8]:
vehicles_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16598    False
16599    False
16600    False
16601    False
16602    False
Length: 16603, dtype: bool

In [9]:
vehicles_df = vehicles_df.drop_duplicates()

#no duplicated values in this list

In [10]:
vehicles_df.columns

Index(['Unnamed: 0', 'Public Vehicle Number', 'Status', 'Vehicle Make',
       'Vehicle Model', 'Vehicle Model Year', 'Vehicle Color',
       'Vehicle Fuel Source', 'Wheelchair Accessible', 'Company Name',
       'Address', 'City', 'State', 'ZIP Code', 'Taxi Affiliation',
       'Taxi Medallion License Management ', 'Record ID'],
      dtype='object')

In [11]:
vehicles_df= vehicles_df[[ 'Public Vehicle Number', 'Status', 'Vehicle Make', 'Vehicle Model', 'Vehicle Model Year', 'Vehicle Color',
      'Vehicle Fuel Source', 'Wheelchair Accessible', 'Company Name','City','Record ID']]
       
         
vehicles_df

,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID
0,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing
1,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
2,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing
3,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
4,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing
...,...,...,...,...,...,...,...,...,...,...,...
16598,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab
16599,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab
16600,70.0,VIOLATION,MAINSTREET,CLASSIC,0.0,RED/BLACK,Pedal,N,EMPIRE PEDICAB LLC,CHICAGO,70Pedicab
16601,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab
16602,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab

#Address,  State, ZIP Code, Taxi Affiliation,Taxi Medallion License Management  not more importent for our analysis. Because we are forcuse  analyzing data on registered public passenger vehicles in Illinois and get desission.

In [12]:
missing_values = vehicles_df.isnull().sum()
print(missing_values)

Public Vehicle Number       1
Status                      1
Vehicle Make             1918
Vehicle Model            1964
Vehicle Model Year       1943
Vehicle Color            1987
Vehicle Fuel Source         1
Wheelchair Accessible       1
Company Name                1
City                     1787
Record ID                   1
dtype: int64

In [13]:

Q1 = vehicles_df['Vehicle Model Year'].quantile(0.25)
Q3 = vehicles_df['Vehicle Model Year'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


vehicles_df = vehicles_df[(vehicles_df['Vehicle Model Year'] >= lower_bound) & (vehicles_df['Vehicle Model Year'] <= upper_bound)]

In [14]:
missing_values = vehicles_df.isnull().sum()
print(missing_values)

Public Vehicle Number     0
Status                    0
Vehicle Make              9
Vehicle Model            54
Vehicle Model Year        0
Vehicle Color            61
Vehicle Fuel Source       0
Wheelchair Accessible     0
Company Name              0
City                      6
Record ID                 0
dtype: int64

In [15]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14468 entries, 0 to 16602
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Public Vehicle Number  14468 non-null  float64
 1   Status                 14468 non-null  object
 2   Vehicle Make           14459 non-null  object
 3   Vehicle Model          14414 non-null  object
 4   Vehicle Model Year     14468 non-null  float64
 5   Vehicle Color          14407 non-null  object
 6   Vehicle Fuel Source    14468 non-null  object
 7   Wheelchair Accessible  14468 non-null  object
 8   Company Name           14468 non-null  object
 9   City                   14462 non-null  object
 10  Record ID              14468 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.3+ MB

In [16]:
vehicles_df = vehicles_df.copy()

# Calculate the most frequent make
most_frequent_make = vehicles_df['Vehicle Make'].mode()[0]

# Fill missing values with the most frequent make
vehicles_df['Vehicle Make'] = vehicles_df['Vehicle Make'].fillna(most_frequent_make)

only 9 missing values have this 'Vehicle Make' coloum. It is a a small percentage compared to the rest of the dataset. So we replace missing values with the most frequent value (mode) for consistency.

In [17]:
vehicles_df.loc[:, 'Vehicle Color'] = vehicles_df['Vehicle Color'].fillna('Unknown')
vehicles_df

,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID
0,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing
1,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
2,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing
3,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
4,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing
...,...,...,...,...,...,...,...,...,...,...,...
16597,29.0,ACTIVE,PRECISION,6 SEATER,2016.0,RED,Pedal,N,PHILIP ANDREW SADLER,CHICAGO,29Pedicab
16598,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab
16599,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab
16601,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab
16602,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab

#61 missing values are in the vehicle colour column. In this case vehicle's type or usage doesnâ€™t depend on colour. so we can fill this missing cell using 'unknown' keyword.

In [18]:
vehicles_df = vehicles_df.copy()
vehicles_df.loc[:, 'City'] = vehicles_df['City'].fillna(most_frequent_make)

In [19]:
vehicles_df = vehicles_df.dropna()

#have 54 missing data in the 'Vehicle Model' cell. it is a small portion compare with the whole dsta in the column. We can assign some randome value for this emty cell. but this data are important. so it can be damage accuracy of the our analysis. so we think most accuracy thing is delete all row have this empty cell.

In [20]:
missing_values = vehicles_df.isnull().sum()
print(missing_values)

Public Vehicle Number    0
Status                   0
Vehicle Make             0
Vehicle Model            0
Vehicle Model Year       0
Vehicle Color            0
Vehicle Fuel Source      0
Wheelchair Accessible    0
Company Name             0
City                     0
Record ID                0
dtype: int64

In [21]:
vehicles_df['Vehicle Type'] = vehicles_df['Record ID'].str.split(' ').str[0]
vehicles_df

,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID,Vehicle Type
0,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing,12009Charter
1,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing,12248Charter
2,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing,13527Charter
3,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing,12248Charter
4,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing,13528Charter
...,...,...,...,...,...,...,...,...,...,...,...,...
16597,29.0,ACTIVE,PRECISION,6 SEATER,2016.0,RED,Pedal,N,PHILIP ANDREW SADLER,CHICAGO,29Pedicab,29Pedicab
16598,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab,42Pedicab
16599,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab,52Pedicab
16601,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab,57Pedicab
16602,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab,117Pedicab

In [22]:
vehicles_df = vehicles_df.drop(["Public Vehicle Number"], axis=1)
vehicles_df

,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID,Vehicle Type
0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing,12009Charter
1,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing,12248Charter
2,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing,13527Charter
3,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing,12248Charter
4,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing,13528Charter
...,...,...,...,...,...,...,...,...,...,...,...
16597,ACTIVE,PRECISION,6 SEATER,2016.0,RED,Pedal,N,PHILIP ANDREW SADLER,CHICAGO,29Pedicab,29Pedicab
16598,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab,42Pedicab
16599,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab,52Pedicab
16601,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab,57Pedicab
16602,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab,117Pedicab

In [23]:
vehicles_df.groupby('Vehicle Fuel Source').describe()

                       Vehicle Model Year                                 \
                                    count         mean       std     min
Vehicle Fuel Source
Bio-Diesel                            9.0  2011.222222  3.153481  2008.0
Compressed Natural Gas               91.0  2011.857143  1.346365  2009.0
Diesel                               62.0  2011.596774  5.626226  2001.0
Electric                             33.0  2018.606061  4.911335  2008.0
Flex Fuel                           192.0  2014.109375  2.821666  2009.0
Gasoline                           7868.0  2018.233986  5.515457  2001.0
Horse                                14.0  2014.285714  1.815683  2010.0
Hybrid                             5955.0  2014.314022  3.069861  2008.0
Pedal                               190.0  2015.715789  3.720850  2003.0


                           25%     50%     75%     max
Vehicle Fuel Source
Bio-Diesel              2008.0  2010.0  2014.0  2016.0
Compressed Natural Gas  2011.0  2012.0  2012.0  2017.0
Diesel                  2007.0  2013.0  2015.0  2024.0
Electric                2018.0  2020.0  2022.0  2024.0
Flex Fuel               2012.0  2013.5  2016.0  2024.0
Gasoline                2015.0  2020.0  2023.0  2025.0
Horse                   2015.0  2015.0  2015.0  2015.0
Hybrid                  2012.0  2014.0  2015.0  2025.0
Pedal                   2014.0  2017.0  2018.0  2023.0

In [24]:
vehicles_df.groupby('Vehicle Fuel Source')['Vehicle Make'].count()

Vehicle Fuel Source
Bio-Diesel                   9
Compressed Natural Gas      91
Diesel                      62
Electric                    33
Flex Fuel                  192
Gasoline                  7868
Horse                       14
Hybrid                    5955
Pedal                      190
Name: Vehicle Make, dtype: int64

In [25]:
status_group = vehicles_df.groupby('Status')
for status, group in status_group:
       print(f"Status: {status}")
       print(group.head())

Status: ACTIVE
     Status        Vehicle Make Vehicle Model  Vehicle Model Year  \
101  ACTIVE            CADILLAC      ESCALADE              2024.0
112  ACTIVE            MERCEDES      SPRINTER              2013.0
116  ACTIVE            MERCEDES      SPRINTER              2012.0
126  ACTIVE            MERCEDES      SPRINTER              2015.0
135  ACTIVE  ALEXDER DENNIS LTD         E400H              2014.0

    Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
101         BLACK              Diesel                     N
112         WHITE              Diesel                     N
116     WHITE/RED              Diesel                     N
126         WHITE              Diesel                     N
135      BURGUNDY              Diesel                     N

                                    Company Name      City  \
101                        HOLO BLACK LUXURY INC   CHICAGO
112  SUPERIOR AIR-GROUND AMBULANCE SERVICE, INC.  ELMHURST
116  SUPERIOR AIR-GROUND AMBULANCE SERVICE, INC.  ELMHURST
126  SUPERIOR AIR-GROUND AMBULANCE SERVICE, INC.  ELMHURST
135                        CHICAGO GRAY LINE LTD   CHICAGO

                    Record ID   Vehicle Type
101               70706Livery    70706Livery
112             4893Ambulance  4893Ambulance
116             4885Ambulance  4885Ambulance
126             5655Ambulance  5655Ambulance
135  19628Charter Sightseeing   19628Charter
Status: FORECLOSURE
          Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
21   FORECLOSURE        DODGE       CARAVAN              2012.0         GREEN
97   FORECLOSURE          VPG          MV-1              2012.0         GREEN
203  FORECLOSURE        TESLA       MODEL 3              2021.0         GREEN
211  FORECLOSURE        TESLA       MODEL 3              2021.0         GREEN
252  FORECLOSURE        DODGE       CARAVAN              2016.0         GREEN

        Vehicle Fuel Source Wheelchair Accessible         Company Name  \
21   Compressed Natural Gas                     Y       LIBRA TAXI INC
97   Compressed Natural Gas                     Y       LIBRA TAXI INC
203                Electric                     N   NICKI & EMMY, INC.
211                Electric                     N           NICKI INC.
252               Flex Fuel                     Y  TERRA TAXI TWO CORP

        City Record ID Vehicle Type
21   CHICAGO   540Taxi      540Taxi
97   CHICAGO   542Taxi      542Taxi
203  CHICAGO  4512Taxi     4512Taxi
211  CHICAGO  1032Taxi     1032Taxi
252  CHICAGO  5244Taxi     5244Taxi
Status: HOLD
     Status Vehicle Make   Vehicle Model  Vehicle Model Year Vehicle Color  \
5265   HOLD         FORD  CROWN VICTORIA              2008.0         WHITE
6183   HOLD     INFINITI            QX60              2020.0         BLACK

     Vehicle Fuel Source Wheelchair Accessible          Company Name     City  \
5265            Gasoline                     N     T & J ENTERPRISES  CHICAGO
6183            Gasoline                     N  ROMEO ENTERPRISE INC  CHICAGO

        Record ID Vehicle Type
5265     5702Taxi     5702Taxi
6183  70404Livery  70404Livery
Status: INACTIVE
     Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
1  INACTIVE     MERCEDES      SPRINTER              2010.0        SILVER
2  INACTIVE     VAN HOOL         TD925              2008.0           RED
3  INACTIVE     MERCEDES      SPRINTER              2010.0        SILVER
4  INACTIVE     VAN HOOL         TD925              2008.0           RED
5  INACTIVE     MERCEDES      SPRINTER              2015.0         BLACK

  Vehicle Fuel Source Wheelchair Accessible  \
1          Bio-Diesel                     N
2          Bio-Diesel                     N
3          Bio-Diesel                     N
4          Bio-Diesel                     N
5          Bio-Diesel                     N

                              Company Name     City                 Record ID  \
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12248Charter Sightseeing
2                 TRT TRANSPORTATION, INC.  CHICAGO  13527Charter Sightseeing
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12248Charter Sightseeing
4                 TRT TRANSPORTATION, INC.  CHICAGO  13528Charter Sightseeing
5  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12025Charter Sightseeing

   Vehicle Type
1  12248Charter
2  13527Charter
3  12248Charter
4  13528Charter
5  12025Charter
Status: RESERVED
       Status          Vehicle Make Vehicle Model  Vehicle Model Year  \
0    RESERVED             CHEVROLET       EXPRESS              2014.0
128  RESERVED                 DODGE     AMBULANCE              2016.0
133  RESERVED                GILLIG       TRANSIT              2015.0
134  RESERVED                GILLIG       TRANSIT              2015.0
150  RESERVED  ALEXANDER DENNIS LTD    ENVIRO 400              2013.0

    Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
0           BLACK          Bio-Diesel                     N
128      RED/BLUE              Diesel                     N
133        MAROON              Diesel                     N
134        MAROON              Diesel                     N
150      BURGUNDY              Diesel                     N

                                    Company Name      City  \
0                      CHICAGO PRIVATE TOURS LLC   CHICAGO
128  SUPERIOR AIR-GROUND AMBULANCE SERVICE, INC.  ELMHURST
133                        CHICAGO GRAY LINE LTD   CHICAGO
134                        CHICAGO GRAY LINE LTD   CHICAGO
150                        CHICAGO GRAY LINE LTD   CHICAGO

                    Record ID   Vehicle Type
0    12009Charter Sightseeing   12009Charter
128             5219Ambulance  5219Ambulance
133  20613Charter Sightseeing   20613Charter
134  20606Charter Sightseeing   20606Charter
150  16781Charter Sightseeing   16781Charter
Status: REVOKED
      Status Vehicle Make  Vehicle Model  Vehicle Model Year Vehicle Color  \
14   REVOKED          VPG           MV-1              2011.0         WHITE
15   REVOKED        DODGE        CARAVAN              2011.0         WHITE
233  REVOKED        DODGE  GRAND CARAVAN              2013.0         WHITE
269  REVOKED       TOYOTA          SCION              2015.0         WHITE
280  REVOKED    CHEVROLET            HHR              2011.0         WHITE

        Vehicle Fuel Source Wheelchair Accessible  \
14   Compressed Natural Gas                     N
15   Compressed Natural Gas                     N
233               Flex Fuel                     N
269               Flex Fuel                     N
280               Flex Fuel                     N

                      Company Name     City Record ID Vehicle Type
14   DESIREE AND MONIQUE CAB CORP.  CHICAGO  5160Taxi     5160Taxi
15             WEST END TAXI CORP.  CHICAGO  1803Taxi     1803Taxi
233               SHAZIF CAB CORP.  CHICAGO  6897Taxi     6897Taxi
269            CUNNINGHAM CAB CORP  CHICAGO  1968Taxi     1968Taxi
280                    MELAKU CORP  CHICAGO  5048Taxi     5048Taxi
Status: SURRENDER
        Status Vehicle Make  Vehicle Model  Vehicle Model Year Vehicle Color  \
29   SURRENDER          VPG           MV-1              2012.0         WHITE
39   SURRENDER        DODGE  GRAND CARAVAN              2016.0         GREEN
46   SURRENDER          VPG           MV-1              2012.0         WHITE
95   SURRENDER        DODGE  GRAND CARAVAN              2012.0    BLUE/WHITE
198  SURRENDER        TESLA              Y              2020.0         GREEN

        Vehicle Fuel Source Wheelchair Accessible  \
29   Compressed Natural Gas                     Y
39   Compressed Natural Gas                     Y
46   Compressed Natural Gas                     Y
95   Compressed Natural Gas                     Y
198                Electric                     N

                            Company Name     City Record ID Vehicle Type
29   TAXI MEDALLION GROUPLLC SERIESXXIII  CHICAGO  2433Taxi     2433Taxi
39                           NECT 33 LLC  CHICAGO   748Taxi      748Taxi
46   TAXI MEDALLION GROUPLLC SERIESXXIII  CHICAGO  2422Taxi     2422Taxi
95                       MCCAB XII CORP.  CHICAGO  5533Taxi     5533Taxi
198                         SCORPIO INC.  CHICAGO  3861Taxi     3861Taxi
Status: VIOLATION
       Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
10  VIOLATION          VPG          MV-1              2012.0         WHITE
11  VIOLATION          VPG          MV-1              2012.0         WHITE
12  VIOLATION          VPG          MV-1              2012.0         WHITE
16  VIOLATION       TOYOTA       COROLLA              2017.0         WHITE
17  VIOLATION         FORD        ESCAPE              2012.0         WHITE

       Vehicle Fuel Source Wheelchair Accessible  \
10  Compressed Natural Gas                     N
11  Compressed Natural Gas                     N
12  Compressed Natural Gas                     Y
16  Compressed Natural Gas                     N
17  Compressed Natural Gas                     N

                        Company Name     City Record ID Vehicle Type
10  MEDALLION FUNDING CHICAGO CORP V  CHICAGO   256Taxi      256Taxi
11                      AMBROSLY INC  CHICAGO  1616Taxi     1616Taxi
12                GEM AND R CAB CORP  CHICAGO  4796Taxi     4796Taxi
16                   PETANI CAB CORP  CHICAGO   862Taxi      862Taxi
17                     MCCAB I CORP.  CHICAGO  2528Taxi     2528Taxi

In [26]:
fuel_group =  vehicles_df.groupby('Vehicle Fuel Source')
for fuel, group in fuel_group:
      print(f"Fuel Source: {fuel}")
      print(group.head())

Fuel Source: Bio-Diesel
     Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
0  RESERVED    CHEVROLET       EXPRESS              2014.0         BLACK
1  INACTIVE     MERCEDES      SPRINTER              2010.0        SILVER
2  INACTIVE     VAN HOOL         TD925              2008.0           RED
3  INACTIVE     MERCEDES      SPRINTER              2010.0        SILVER
4  INACTIVE     VAN HOOL         TD925              2008.0           RED

  Vehicle Fuel Source Wheelchair Accessible  \
0          Bio-Diesel                     N
1          Bio-Diesel                     N
2          Bio-Diesel                     N
3          Bio-Diesel                     N
4          Bio-Diesel                     N

                              Company Name     City                 Record ID  \
0                CHICAGO PRIVATE TOURS LLC  CHICAGO  12009Charter Sightseeing
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12248Charter Sightseeing
2                 TRT TRANSPORTATION, INC.  CHICAGO  13527Charter Sightseeing
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12248Charter Sightseeing
4                 TRT TRANSPORTATION, INC.  CHICAGO  13528Charter Sightseeing

   Vehicle Type
0  12009Charter
1  12248Charter
2  13527Charter
3  12248Charter
4  13528Charter
Fuel Source: Compressed Natural Gas
       Status Vehicle Make  Vehicle Model  Vehicle Model Year Vehicle Color  \
10  VIOLATION          VPG           MV-1              2012.0         WHITE
11  VIOLATION          VPG           MV-1              2012.0         WHITE
12  VIOLATION          VPG           MV-1              2012.0         WHITE
13   INACTIVE        DODGE  GRAND CARAVAN              2011.0        SILVER
14    REVOKED          VPG           MV-1              2011.0         WHITE

       Vehicle Fuel Source Wheelchair Accessible  \
10  Compressed Natural Gas                     N
11  Compressed Natural Gas                     N
12  Compressed Natural Gas                     Y
13  Compressed Natural Gas                     N
14  Compressed Natural Gas                     N

                        Company Name     City     Record ID  Vehicle Type
10  MEDALLION FUNDING CHICAGO CORP V  CHICAGO       256Taxi       256Taxi
11                      AMBROSLY INC  CHICAGO      1616Taxi      1616Taxi
12                GEM AND R CAB CORP  CHICAGO      4796Taxi      4796Taxi
13  SCR MEDICAL TRANSPORTATION, INC.  CHICAGO  13637Medicar  13637Medicar
14     DESIREE AND MONIQUE CAB CORP.  CHICAGO      5160Taxi      5160Taxi
Fuel Source: Diesel
       Status  Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
101    ACTIVE      CADILLAC      ESCALADE              2024.0         BLACK
102  INACTIVE    FREIGHLINE       TROLLEY              2005.0           RED
103  INACTIVE      CHAMPION       TROLLEY              2001.0           RED
104  INACTIVE        THOMAS       TROLLEY              2005.0         GREEN
105  INACTIVE  FREIGHTLINER   TRANSIT BUS              2002.0      BURGUNDY

    Vehicle Fuel Source Wheelchair Accessible           Company Name     City  \
101              Diesel                     N  HOLO BLACK LUXURY INC  CHICAGO
102              Diesel                     N            SCT USA INC  CHICAGO
103              Diesel                     N            SCT USA INC  CHICAGO
104              Diesel                     N            SCT USA INC  CHICAGO
105              Diesel                     N  CHICAGO GRAY LINE LTD  CHICAGO

                    Record ID  Vehicle Type
101               70706Livery   70706Livery
102  18536Charter Sightseeing  18536Charter
103  13922Charter Sightseeing  13922Charter
104  16000Charter Sightseeing  16000Charter
105  19210Charter Sightseeing  19210Charter
Fuel Source: Electric
        Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
197     ACTIVE        TESLA             Y              2021.0         BLACK
198  SURRENDER        TESLA             Y              2020.0         GREEN
199     ACTIVE          KIA          NIRO              2023.0    DARK GREEN
200  VIOLATION      TUK TUK    L5 LIMO GT              2018.0         WHITE
201     ACTIVE   MAINSTREET      SMASHCAB              2008.0         BLACK

    Vehicle Fuel Source Wheelchair Accessible                 Company Name  \
197            Electric                     N  RIZ LIMO TRANSPORTATION CO.
198            Electric                     N                 SCORPIO INC.
199            Electric                     N                   TEZ CAB CO
200            Electric                     N          TUK TUK CHICAGO LLC
201            Electric                     N  AUSTIN PEDICAB COMPANY, LLC

        City               Record ID Vehicle Type
197  CHICAGO              9067Livery   9067Livery
198  CHICAGO                3861Taxi     3861Taxi
199  CHICAGO                1358Taxi     1358Taxi
200  CHICAGO  9872Low Speed Electric      9872Low
201  CHICAGO              126Pedicab   126Pedicab
Fuel Source: Flex Fuel
        Status Vehicle Make   Vehicle Model  Vehicle Model Year Vehicle Color  \
230  VIOLATION        DODGE         CARAVAN              2017.0         WHITE
231  VIOLATION        DODGE   GRAND CARAVAN              2017.0         WHITE
232  VIOLATION        DODGE         CARAVAN              2013.0         WHITE
233    REVOKED        DODGE   GRAND CARAVAN              2013.0         WHITE
234  VIOLATION         FORD  CROWN VICTORIA              2011.0         WHITE

    Vehicle Fuel Source Wheelchair Accessible      Company Name     City  \
230           Flex Fuel                     N     AMC CAB CORP.  CHICAGO
231           Flex Fuel                     Y   ELSTON FOUR LLC  CHICAGO
232           Flex Fuel                     N         1759 INC.  CHICAGO
233           Flex Fuel                     N  SHAZIF CAB CORP.  CHICAGO
234           Flex Fuel                     N   THOMAS A. ZUMMO  CHICAGO

    Record ID Vehicle Type
230  4595Taxi     4595Taxi
231  4540Taxi     4540Taxi
232  1759Taxi     1759Taxi
233  6897Taxi     6897Taxi
234  5774Taxi     5774Taxi
Fuel Source: Gasoline
        Status Vehicle Make  Vehicle Model  Vehicle Model Year Vehicle Color  \
422  VIOLATION        DODGE  GRAND CARAVAN              2012.0        SILVER
423     ACTIVE         FORD           E350              2016.0         WHITE
424     ACTIVE    CHEVROLET       SUBURBAN              2021.0         BLACK
425   RESERVED         FORD           E350              2004.0     WHITE/RED
427   RESERVED    CHEVROLET       SUBURBAN              2018.0         BLACK

    Vehicle Fuel Source Wheelchair Accessible  \
422            Gasoline                     N
423            Gasoline                     N
424            Gasoline                     N
425            Gasoline                     N
427            Gasoline                     N

                         Company Name         City        Record ID  \
422             ANELSTER INCORPORATED      CHICAGO      8426Medicar
423  ELITE MEDICAL TRANSPORTATION LLC  ORLAND PARK  808501Ambulance
424                       TANHA CORP.      CHICAGO       9069Livery
425                   AIR ANGELS, INC  ST. CHARLES    5602Ambulance
427          LIMO CORP OF CHICAGO INC      CHICAGO       8414Livery

        Vehicle Type
422      8426Medicar
423  808501Ambulance
424       9069Livery
425    5602Ambulance
427       8414Livery
Fuel Source: Horse
         Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
10368  INACTIVE       MARTIN     VIS-A-VIS              2015.0       Unknown
10370  INACTIVE       MARTIN     VIS-A-VIS              2010.0         WHITE
10393  INACTIVE       MARTIN     VIS-A-VIS              2015.0       Unknown
10394  INACTIVE       TROYER     VIS-A-VIS              2015.0       Unknown
10397  INACTIVE       MARTIN     VIS-A-VIS              2015.0       Unknown

      Vehicle Fuel Source Wheelchair Accessible  \
10368               Horse                     N
10370               Horse                     N
10393               Horse                     N
10394               Horse                     N
10397               Horse                     N

                             Company Name     City               Record ID  \
10368         ANTIQUE COACH & CARRIAGE CO  CHICAGO   1Horse Drawn Carriage
10370  GREAT LAKES HORSE AND CARRIAGE LLC  CHICAGO  24Horse Drawn Carriage
10393         ANTIQUE COACH & CARRIAGE CO  CHICAGO   3Horse Drawn Carriage
10394         ANTIQUE COACH & CARRIAGE CO  CHICAGO   8Horse Drawn Carriage
10397         ANTIQUE COACH & CARRIAGE CO  CHICAGO   5Horse Drawn Carriage

      Vehicle Type
10368       1Horse
10370      24Horse
10393       3Horse
10394       8Horse
10397       5Horse
Fuel Source: Hybrid
          Status Vehicle Make Vehicle Model  Vehicle Model Year  \
10419  VIOLATION         FORD        ESCAPE              2012.0
10420     ACTIVE       TOYOTA        SIENNA              2023.0
10421     ACTIVE       TOYOTA         PRIUS              2013.0
10422  VIOLATION       TOYOTA         CAMRY              2011.0
10423     ACTIVE       TOYOTA         CAMRY              2014.0

            Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
10419               WHITE              Hybrid                     N
10420  WHITE/BLUE/STRIPES              Hybrid                     Y
10421          GRAY/WHITE              Hybrid                     N
10422               WHITE              Hybrid                     N
10423          GRAY/WHITE              Hybrid                     N

          Company Name     City Record ID Vehicle Type
10419  RACHEL TAXI INC  CHICAGO  1273Taxi     1273Taxi
10420   A ONE RIDE INC  CHICAGO  2421Taxi     2421Taxi
10421      ANKOBER INC  CHICAGO  6090Taxi     6090Taxi
10422     ASECMAN INC.  CHICAGO  1929Taxi     1929Taxi
10423  ETHIO TRANS INC  CHICAGO  2283Taxi     2283Taxi
Fuel Source: Pedal
       Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
16389  ACTIVE      MANMADE         WAGON              2011.0         BLACK
16390  ACTIVE      MANMADE      BROADWAY              2014.0         BLACK
16392  ACTIVE          VIP           VIP              2018.0    BLUE/WHITE
16393  ACTIVE   MAINSTREET      BROADWAY              2010.0         WHITE
16394  ACTIVE          VIP           VIP              2023.0          BLUE

      Vehicle Fuel Source Wheelchair Accessible              Company Name  \
16389               Pedal                     N              TROTTERS LLC
16390               Pedal                     N           MBL PEDICAB LLC
16392               Pedal                     N     PEDICAB RIDE GUYS LLC
16393               Pedal                     N  WINDY CITY PEDICAB, LTD.
16394               Pedal                     N       CHICAGO PEDICAB LLC

          City   Record ID Vehicle Type
16389  CHICAGO  131Pedicab   131Pedicab
16390  CHICAGO  186Pedicab   186Pedicab
16392  CHICAGO  142Pedicab   142Pedicab
16393  CHICAGO   47Pedicab    47Pedicab
16394  CHICAGO  100Pedicab   100Pedicab

In [27]:
wheelchair_group =vehicles_df.groupby('Wheelchair Accessible')
for accessible, group in wheelchair_group:
      print(f"Wheelchair Accessible: {accessible}")
      print(group.head())

Wheelchair Accessible: N
     Status Vehicle Make Vehicle Model  Vehicle Model Year Vehicle Color  \
0  RESERVED    CHEVROLET       EXPRESS              2014.0         BLACK
1  INACTIVE     MERCEDES      SPRINTER              2010.0        SILVER
2  INACTIVE     VAN HOOL         TD925              2008.0           RED
3  INACTIVE     MERCEDES      SPRINTER              2010.0        SILVER
4  INACTIVE     VAN HOOL         TD925              2008.0           RED

  Vehicle Fuel Source Wheelchair Accessible  \
0          Bio-Diesel                     N
1          Bio-Diesel                     N
2          Bio-Diesel                     N
3          Bio-Diesel                     N
4          Bio-Diesel                     N

                              Company Name     City                 Record ID  \
0                CHICAGO PRIVATE TOURS LLC  CHICAGO  12009Charter Sightseeing
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12248Charter Sightseeing
2                 TRT TRANSPORTATION, INC.  CHICAGO  13527Charter Sightseeing
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2  CHICAGO  12248Charter Sightseeing
4                 TRT TRANSPORTATION, INC.  CHICAGO  13528Charter Sightseeing

   Vehicle Type
0  12009Charter
1  12248Charter
2  13527Charter
3  12248Charter
4  13528Charter
Wheelchair Accessible: Y
         Status Vehicle Make  Vehicle Model  Vehicle Model Year Vehicle Color  \
12    VIOLATION          VPG           MV-1              2012.0         WHITE
19    VIOLATION          VPG           MV-1              2012.0         WHITE
20    VIOLATION        DODGE  GRAND CARAVAN              2013.0         WHITE
21  FORECLOSURE        DODGE        CARAVAN              2012.0         GREEN
22    VIOLATION          VPG           MV-1              2012.0         WHITE

       Vehicle Fuel Source Wheelchair Accessible               Company Name  \
12  Compressed Natural Gas                     Y         GEM AND R CAB CORP
19  Compressed Natural Gas                     Y           MONETA TAXI INC.
20  Compressed Natural Gas                     Y          MIRZASULEMAN CORP
21  Compressed Natural Gas                     Y             LIBRA TAXI INC
22  Compressed Natural Gas                     Y  LUCKY SEVEN CHICAGO, INC.

       City Record ID Vehicle Type
12  CHICAGO  4796Taxi     4796Taxi
19  CHICAGO  2394Taxi     2394Taxi
20  CHICAGO  6955Taxi     6955Taxi
21  CHICAGO   540Taxi      540Taxi
22  CHICAGO  6409Taxi     6409Taxi

In [28]:
agg_results = vehicles_df.groupby(['Status', 'Vehicle Fuel Source']).agg(
    Count=('Record ID', 'count'),
Avg_Model_Year=('Vehicle Model Year', 'mean')
    )
print(agg_results)

                                    Count  Avg_Model_Year
Status      Vehicle Fuel Source
ACTIVE      Diesel                     14     2016.142857
            Electric                   16     2017.500000
            Flex Fuel                  34     2016.235294
            Gasoline                 4780     2021.127615
            Hybrid                   2230     2016.282511
            Pedal                     137     2015.773723
FORECLOSURE Compressed Natural Gas      2     2012.000000
            Electric                    2     2021.000000
            Flex Fuel                   1     2016.000000
            Gasoline                   20     2016.100000
            Hybrid                     57     2014.947368
HOLD        Gasoline                    2     2014.000000
INACTIVE    Bio-Diesel                  8     2010.875000
            Compressed Natural Gas     15     2010.800000
            Diesel                     39     2009.384615
            Flex Fuel                   1     2015.000000
            Gasoline                 1485     2010.188552
            Horse                      14     2014.285714
            Hybrid                      1     2011.000000
            Pedal                       7     2011.000000
RESERVED    Bio-Diesel                  1     2014.000000
            Diesel                      9     2014.111111
            Gasoline                  566     2017.408127
REVOKED     Compressed Natural Gas      2     2011.000000
            Flex Fuel                   7     2013.142857
            Gasoline                    9     2015.222222
            Hybrid                    125     2013.136000
SURRENDER   Compressed Natural Gas      4     2013.000000
            Electric                    2     2020.000000
            Flex Fuel                  26     2014.461538
            Gasoline                  188     2017.462766
            Hybrid                    664     2014.323795
            Pedal                       2     2018.500000
VIOLATION   Compressed Natural Gas     68     2012.044118
            Electric                   13     2019.384615
            Flex Fuel                 123     2013.479675
            Gasoline                  818     2016.775061
            Hybrid                   2878     2012.826268
            Pedal                      44     2016.159091

In [29]:
agg_results = vehicles_df.groupby(['Vehicle Fuel Source', 'Vehicle Make']).agg(
    Count=('Record ID', 'count'),  
    )
print(agg_results)

                                     Count
Vehicle Fuel Source    Vehicle Make
Bio-Diesel             CHEVROLET         1
                       MERCEDES          5
                       VAN HOOL          3
Compressed Natural Gas CHEVROLET         2
                       DODGE            19
...                                    ...
Pedal                  MANMADE          48
                       PRECISION        11
                       SCHWINN           8
                       SMASH CAB         1
                       VIP              60

[119 rows x 1 columns]

In [30]:
agg_results = vehicles_df.groupby(['Status', 'Company Name']).agg(
    Count=('Record ID', 'count'), 
    )
print(agg_results)

                                     Count
Status    Company Name
ACTIVE    (NONE) SHAIK PARVEZ            1
          1 SUPER STAR CAB CO            2
          1083 NEW EXPRESS INC           1
          1253 TAXI INC                  1
          1276 TAXI CORP                 1
...                                    ...
VIOLATION ZORAYDA ORTIZ                  1
          ZSW CAB CORP.                  3
          ZUBBY LIMO INC.                1
          ZW CAB CORP                    7
          ZZZAR NATION WIDE LIMITED      1

[8041 rows x 1 columns]

In [31]:
multi_group = vehicles_df.groupby(['Status', 'Vehicle Type']).size()
print(multi_group)

Status     Vehicle Type
ACTIVE     10004Medicar    1
           10005Medicar    1
           1002Taxi        1
           1003Taxi        2
           10051Medicar    1
                          ..
VIOLATION  9984Livery      1
           998Taxi         1
           9992Livery      1
           9996Livery      1
           999Taxi         1
Length: 13600, dtype: int64