In [98]:
import pandas as pd
import os
file_path = r'C:\Users\ASUS\OneDrive\Desktop\Python g project\the-wheels-in-motion/PassengerVehicle_Stats'
file_list = [os.path.join(file_path, file) for file in os.listdir(file_path) if file.endswith('.csv')]

In [99]:
dataframes = [pd.read_csv(file) for file in file_list]
vehicles_df = pd.concat(dataframes, ignore_index=True)
vehicles_df

,Unnamed: 0,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,Address,City,State,ZIP Code,Taxi Affiliation,Taxi Medallion License Management,Record ID
0,1286,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,4567 S. OAKENWALD AVE.,CHICAGO,IL,60653.0,NaN,NaN,12009Charter Sightseeing
1,2095,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,4610 N. CLARK ST.,CHICAGO,IL,60640.0,NaN,NaN,12248Charter Sightseeing
2,7950,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",4400 S. RACINE AVE.,CHICAGO,IL,60609.0,NaN,NaN,13527Charter Sightseeing
3,8700,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,4610 N. CLARK ST.,CHICAGO,IL,60640.0,NaN,NaN,12248Charter Sightseeing
4,9359,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",4400 S. RACINE AVE.,CHICAGO,IL,60609.0,NaN,NaN,13528Charter Sightseeing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16598,16143,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,1627 N. TRIPP AVE.,CHICAGO,IL,60639.0,NaN,NaN,42Pedicab
16599,16151,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,4450 N. KEDZIE AVE.,CHICAGO,IL,60625.0,NaN,NaN,52Pedicab
16600,16216,70.0,VIOLATION,MAINSTREET,CLASSIC,0.0,RED/BLACK,Pedal,N,EMPIRE PEDICAB LLC,318 W. ADAMS ST.,CHICAGO,IL,60606.0,NaN,NaN,70Pedicab
16601,16229,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,2428 W. 24TH PL.,CHICAGO,IL,60608.0,NaN,NaN,57Pedicab
16602,16281,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,4450 N. KEDZIE AVE.,CHICAGO,IL,60625.0,NaN,NaN,117Pedicab

In [100]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16603 entries, 0 to 16602
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          16603 non-null  object
 1   Public Vehicle Number               16602 non-null  float64
 2   Status                              16602 non-null  object
 3   Vehicle Make                        14685 non-null  object
 4   Vehicle Model                       14639 non-null  object
 5   Vehicle Model Year                  14660 non-null  float64
 6   Vehicle Color                       14616 non-null  object
 7   Vehicle Fuel Source                 16602 non-null  object
 8   Wheelchair Accessible               16602 non-null  object
 9   Company Name                        16602 non-null  object
 10  Address                             14816 non-null  object
 11  City                                14816 non-null  object
 12  State                               14816 non-null  object
 13  ZIP Code                            14816 non-null  float64
 14  Taxi Affiliation                    7348 non-null   object
 15  Taxi Medallion License Management   7321 non-null   object
 16  Record ID                           16602 non-null  object
dtypes: float64(3), object(14)
memory usage: 2.2+ MB

In [101]:

vehicles_df.describe()

       Public Vehicle Number  Vehicle Model Year      ZIP Code
count           1.660200e+04        14660.000000  14816.000000
mean            3.854566e+04         2012.669714  60612.519573
std             1.372946e+05           83.622806    104.290880
min             0.000000e+00            0.000000  60004.000000
25%             3.633250e+03         2013.000000  60619.000000
50%             6.991500e+03         2016.000000  60631.000000
75%             1.683925e+04         2021.000000  60646.000000
max             6.902206e+06         2025.000000  61111.000000

In [102]:
vehicles_df.dtypes

Unnamed: 0                             object
Public Vehicle Number                 float64
Status                                 object
Vehicle Make                           object
Vehicle Model                          object
Vehicle Model Year                    float64
Vehicle Color                          object
Vehicle Fuel Source                    object
Wheelchair Accessible                  object
Company Name                           object
Address                                object
City                                   object
State                                  object
ZIP Code                              float64
Taxi Affiliation                       object
Taxi Medallion License Management      object
Record ID                              object
dtype: object

In [103]:
vehicles_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16598    False
16599    False
16600    False
16601    False
16602    False
Length: 16603, dtype: bool

In [104]:
vehicles_df = vehicles_df.drop_duplicates()

#no duplicated values in this list

In [105]:
vehicles_df.columns

Index(['Unnamed: 0', 'Public Vehicle Number', 'Status', 'Vehicle Make',
       'Vehicle Model', 'Vehicle Model Year', 'Vehicle Color',
       'Vehicle Fuel Source', 'Wheelchair Accessible', 'Company Name',
       'Address', 'City', 'State', 'ZIP Code', 'Taxi Affiliation',
       'Taxi Medallion License Management ', 'Record ID'],
      dtype='object')

In [106]:
vehicles_df= vehicles_df[[ 'Public Vehicle Number', 'Status', 'Vehicle Make', 'Vehicle Model', 'Vehicle Model Year', 'Vehicle Color',
      'Vehicle Fuel Source', 'Wheelchair Accessible', 'Company Name','City','Record ID']]
       
         
vehicles_df

,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID
0,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing
1,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
2,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing
3,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
4,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing
...,...,...,...,...,...,...,...,...,...,...,...
16598,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab
16599,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab
16600,70.0,VIOLATION,MAINSTREET,CLASSIC,0.0,RED/BLACK,Pedal,N,EMPIRE PEDICAB LLC,CHICAGO,70Pedicab
16601,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab
16602,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab

#Address,  State, ZIP Code, Taxi Affiliation,Taxi Medallion License Management  not more importent for our analysis. Because we are forcuse  analyzing data on registered public passenger vehicles in Illinois and get desission.

In [107]:
missing_values = vehicles_df.isnull().sum()
print(missing_values)

Public Vehicle Number       1
Status                      1
Vehicle Make             1918
Vehicle Model            1964
Vehicle Model Year       1943
Vehicle Color            1987
Vehicle Fuel Source         1
Wheelchair Accessible       1
Company Name                1
City                     1787
Record ID                   1
dtype: int64

In [108]:

Q1 = vehicles_df['Vehicle Model Year'].quantile(0.25)
Q3 = vehicles_df['Vehicle Model Year'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


vehicles_df = vehicles_df[(vehicles_df['Vehicle Model Year'] >= lower_bound) & (vehicles_df['Vehicle Model Year'] <= upper_bound)]

In [109]:
missing_values = vehicles_df.isnull().sum()
print(missing_values)

Public Vehicle Number     0
Status                    0
Vehicle Make              9
Vehicle Model            54
Vehicle Model Year        0
Vehicle Color            61
Vehicle Fuel Source       0
Wheelchair Accessible     0
Company Name              0
City                      6
Record ID                 0
dtype: int64

In [110]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14468 entries, 0 to 16602
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Public Vehicle Number  14468 non-null  float64
 1   Status                 14468 non-null  object
 2   Vehicle Make           14459 non-null  object
 3   Vehicle Model          14414 non-null  object
 4   Vehicle Model Year     14468 non-null  float64
 5   Vehicle Color          14407 non-null  object
 6   Vehicle Fuel Source    14468 non-null  object
 7   Wheelchair Accessible  14468 non-null  object
 8   Company Name           14468 non-null  object
 9   City                   14462 non-null  object
 10  Record ID              14468 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.3+ MB

In [ ]:
vehicles_df = vehicles_df.copy()
vehicles_df.loc[:, 'Vehicle Make'] = vehicles_df['Vehicle Make'].fillna(most_frequent_make)

#only 9 missing values have this 'Vehicle Make' coloum. It is a a small percentage compared to the rest of the dataset. So we replace missing values with the most frequent value (mode) for consistency.

In [112]:
vehicles_df.loc[:, 'Vehicle Color'] = vehicles_df['Vehicle Color'].fillna('Unknown')
vehicles_df

,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID
0,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing
1,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
2,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing
3,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing
4,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing
...,...,...,...,...,...,...,...,...,...,...,...
16597,29.0,ACTIVE,PRECISION,6 SEATER,2016.0,RED,Pedal,N,PHILIP ANDREW SADLER,CHICAGO,29Pedicab
16598,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab
16599,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab
16601,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab
16602,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab

#61 missing values are in the vehicle colour column. In this case vehicle's type or usage doesnâ€™t depend on colour. so we can fill this missing cell using 'unknown' keyword.

In [114]:
vehicles_df = vehicles_df.copy()
vehicles_df.loc[:, 'City'] = vehicles_df['City'].fillna(most_frequent_make)

In [116]:
vehicles_df = vehicles_df.dropna()

#have 54 missing data in the 'Vehicle Model' cell. it is a small portion compare with the whole dsta in the column. We can assign some randome value for this emty cell. but this data are important. so it can be damage accuracy of the our analysis. so we think most accuracy thing is delete all row have this empty cell.

In [117]:
missing_values = vehicles_df.isnull().sum()
print(missing_values)

Public Vehicle Number    0
Status                   0
Vehicle Make             0
Vehicle Model            0
Vehicle Model Year       0
Vehicle Color            0
Vehicle Fuel Source      0
Wheelchair Accessible    0
Company Name             0
City                     0
Record ID                0
dtype: int64

In [ ]:
vehicles_df['Vehicle Type'] = vehicles_df['Record ID'].str.split(' ').str[0]
vehicles_df

,Public Vehicle Number,Status,Vehicle Make,Vehicle Model,Vehicle Model Year,Vehicle Color,Vehicle Fuel Source,Wheelchair Accessible,Company Name,City,Record ID,Vehicle Type
0,12009.0,RESERVED,CHEVROLET,EXPRESS,2014.0,BLACK,Bio-Diesel,N,CHICAGO PRIVATE TOURS LLC,CHICAGO,12009Charter Sightseeing,12009Charter
1,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing,12248Charter
2,13527.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13527Charter Sightseeing,13527Charter
3,12248.0,INACTIVE,MERCEDES,SPRINTER,2010.0,SILVER,Bio-Diesel,N,O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2,CHICAGO,12248Charter Sightseeing,12248Charter
4,13528.0,INACTIVE,VAN HOOL,TD925,2008.0,RED,Bio-Diesel,N,"TRT TRANSPORTATION, INC.",CHICAGO,13528Charter Sightseeing,13528Charter
...,...,...,...,...,...,...,...,...,...,...,...,...
16597,29.0,ACTIVE,PRECISION,6 SEATER,2016.0,RED,Pedal,N,PHILIP ANDREW SADLER,CHICAGO,29Pedicab,29Pedicab
16598,42.0,ACTIVE,PRECISION,6 SEATER,2020.0,FUSCIA,Pedal,N,JBL PEDICAB MANAGEMENT LLC,CHICAGO,42Pedicab,42Pedicab
16599,52.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,52Pedicab,52Pedicab
16601,57.0,VIOLATION,MAINSTREET,BOARDWALK,2011.0,RED,Pedal,N,CARGILL C KELLY II,CHICAGO,57Pedicab,57Pedicab
16602,117.0,ACTIVE,SCHWINN,NONE,2014.0,GREEN,Pedal,N,BM PEDICAB INC.,CHICAGO,117Pedicab,117Pedicab